@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0 auto;
  display: flex;
  place-items: center;
  min-width: 320px;
  max-width: 1280px;
  min-height: 100vh;
  font-family: "Ubuntu", sans-serif;
  background-color: #EFF5FF;
}

#root {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  margin: auto 0;
}

input, input:focus {
  outline: none;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #022959;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 10px;
}

.slider::before {
  position: absolute;
  content: '';
  height: 17px;
  width: 17px;
  left: 2px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}
input:checked + .slider::before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}




@media screen and (min-width: 768px) {
  .unset {
    all: unset
  }
}

